[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggpointless"]
	path = ggpointless
	url = https://github.com/flrd/ggpointless
[submodule "standardlastprofile"]
	path = standardlastprofile
	url = https://github.com/flrd/standardlastprofile
